body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    margin-top: 0px;
    background-color: #EC0B43;
  }
  
.search{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    float: left;
    width: 95%;
    margin: 1%;
}
.search form{
    text-align: center;
    font-size: 18px;
    vertical-align: middle;

}
.search img{
    float: left;
    width: 15%;
}

.photoResults{
    clear: both;
}
/* velda adding */
.photoCard {
    width: 21%;
    padding: 12px;
    margin: 1%;
    background-color: white;
    border-radius: 5px;
    float: left;
    font-family: "Proxima Nova Soft","Helvetica Neue",sans-serif;
    font-size: 1em;
}

.photoCard img{
    width: 100%;
}

.owner{
    margin: 10px;
    text-align: top;
}
.owner img{
    width: 15px;
    padding-right: 5px;
}

.details h1{
    font-weight: bold;
    font-size: 1.5em;
}

.clock img{
    width: 10px;
    padding-right: 5px;
}
.tags{
    color: grey;
}