body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    margin-top: 0px;
    background-color: #EE3C67;
  }
  
.search{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    float: left;
    width: 96%;
    margin: 1%;
    font-size: 2em;
    vertical-align: middle;
}

.search form{
    float: right;
    padding: 10px;
}

.search img{
    float: left;
    width: 15%;
}

.photoResults{
    clear: both;
    width: 97%;
    margin: 1%;
}

.masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -20px; /* gutter size offset */
    width: auto;
}
  
.masonry-grid_column {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
}

.photoCard {
    padding: 12px;
    background-color: white;
    border-radius: 5px;
    font-family: "Proxima Nova Soft","Helvetica Neue",sans-serif;
    font-size: 1em;
    margin-bottom: 10px;
}

.photoCard img{
    width: 100%;
}

.owner{
    margin: 10px;
    text-align: top;
}
.owner img{
    width: 15px;
    padding-right: 5px;
}

.details h1{
    font-weight: bold;
    font-size: 1.5em;
}

.clock img{
    width: 10px;
    padding-right: 5px;
}
.tags{
    color: grey;
}

.errMsg{
    width: 95%;
    background-color: white;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 1%;
}

 